---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"label">;

const { class: className, ...rest } = Astro.props;
---

<label
	class:list={[
		"block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1",
		className,
	]}
	{...rest}
>
	<slot />
</label>
