---
import { CloudUpload } from "../icons";
---

<div class="starwind-upload-indicator" data-slot="dropzone-upload-indicator">
  <slot>
    <CloudUpload class="mx-auto size-10" aria-hidden="true" />
    <p class="mt-1 text-sm">Нажмите для загрузки или перетащите файлы</p>
  </slot>
</div>
